@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.Body-Regular-Body-1 {
 font-family: Inter;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 28px;
}

.Body-Medium-Body-1{
 
 font-family: Inter;
 font-size: 18px;
 font-style: normal;
 font-weight: 500;
 line-height: 28px;
}

.Body-Regular-Body-2 {
 
 font-family: Inter;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px;
}

.Body-Medium-Body-2 {

 font-family: Inter;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 24px;
}

.Body-Regular-Body-3 {
 
 font-family: Inter;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 20px;
}

.Body-Medium-Body-3 {
 
 font-family: Inter;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: 20px;  
}

.Body-Regular-Body-4 {

 font-family: Inter;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px;
}

.Body-Medium-Body-4 {
 font-family: Inter;
 font-size: 12px;
 font-style: normal;
 font-weight: 500;
 line-height: 16px;
}

h1 {
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
}

h2 {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

h3 {
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

h4 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.mlab {
    display: inline-flex;
padding: 14px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--brand-primary, #4CAF4F);
}

.Label-Medium-Label {
 font-family: Inter;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: 20px;

}
